:root {
	font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;

	--black: #212529;
	--darkgray: #343a40;
	--gray: #6c757d;
	--lightgray: #adb5bd;
	--stroke: #ced4da;
	--white-smoke: #f8f9fa;
	--white: #fff;
}

button,
input {
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 12px;
}

button {
	border: none;
	transition: background-color 0.3s;
}
@media (hover: hover) {
	button:hover {
		cursor: pointer;
	}
	button:disabled {
		cursor: not-allowed;
	}
}

input {
	border-width: 1px;
	border-style: solid;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;

	input {
		width: 16px;
		height: 16px;
	}
	label {
		font-size: 16px;
	}
}

.nav {
	padding: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	.active {
		color: inherit;
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}

.footer__nav {
	margin-top: 48px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 32px;
}

.footer__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.inlineButton {
	padding: 0;

	background: none;

	font-size: 32px;
}
@media (hover: hover) {
	.inlineButton:hover {
		background: none !important;
	}
}

.table {
	width: 100%;
	overflow: scroll;
	border-radius: 12px;
}
table {
	width: 100%;
	text-align: left;
}
td,
th {
	padding: 12px 16px;
}

menu {
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu {
	padding: 0;
	list-style-type: none;
	width: 100%;

	display: flex;
	justify-content: center;

	button {
		background: none;
		border: none;
		cursor: pointer;
		transition: color 0.3s;
	}
	button.active {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}
.menu button {
	color: var(--gray);
}

form {
	width: 100%;

	display: flex;
	gap: 8px;

	input {
		width: 100%;
	}

	div {
		flex: 1;
		display: flex;
		gap: 8px;
	}

	button {
		margin-left: 16px;
	}
}
@media (width < 880px) {
	form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		button {
			margin-left: 0;
		}
	}
}
@media (width < 400px) {
	form {
		display: flex;
		flex-direction: column;
	}
}

main {
	min-height: 80vh;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 16px;
}

body {
	margin: 32px 64px;
}
@media (width < 880px) {
	body {
		margin: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--white);
		background-color: var(--black);
	}

	button {
		color: var(--black);
		background-color: var(--white-smoke);
	}
	@media (hover: hover) {
		button:not(:disabled):hover {
			background-color: var(--stroke);
		}
	}
	button:active {
		background-color: var(--stroke);
	}

	button svg {
		fill: var(--white);
	}

	input {
		color: var(--white);
		border-color: var(--gray);
		background-color: var(--black);
	}
	input::placeholder {
		color: var(--lightgray);
	}

	.inlineButton {
		color: var(--white);
	}

	.table {
		border: 1px solid var(--gray);
		background-color: var(--black);
	}
	td:not(:last-child),
	th:not(:last-child) {
		border-right: 1px solid var(--gray);
	}
	th {
		border-bottom: 1px solid var(--gray);
	}

	.menu button.active {
		color: var(--white);
	}
	@media (hover: hover) {
		.menu button:hover {
			color: var(--lightgray);
			background: none;
		}
	}

	.nav a {
		font-weight: 500;
		color: var(--gray);
	}
	@media (hover: hover) {
		.nav a:hover {
			color: var(--lightgray);
		}
	}

	.footer__list a,
	.footer__nav p {
		font-weight: 500;
		color: var(--gray);
	}
	@media (hover: hover) {
		.footer__list a:hover {
			color: var(--lightgray);
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--black);
		background-color: var(--white-smoke);
	}

	button {
		color: var(--white);
		background-color: var(--black);
	}
	@media (hover: hover) {
		button:not(:disabled):hover {
			background-color: var(--darkgray);
		}
	}
	button:active {
		background-color: var(--darkgray);
	}

	button svg {
		fill: var(--black);
	}

	input {
		border-color: var(--stroke);
		background-color: var(--white);
	}
	input::placeholder {
		color: var(--gray);
	}

	.inlineButton {
		color: var(--black);
	}

	.table {
		border: 1px solid var(--stroke);
		background-color: var(--white);
	}
	td:not(:last-child),
	th:not(:last-child) {
		border-right: 1px solid var(--stroke);
	}
	th {
		border-bottom: 1px solid var(--stroke);
	}

	.menu button.active {
		color: var(--black);
	}
	@media (hover: hover) {
		.menu button:hover {
			color: var(--darkgray);
			background: none;
		}
	}

	.nav a {
		color: var(--gray);
	}
	@media (hover: hover) {
		.nav a:hover {
			color: var(--darkgray);
		}
	}

	.footer__list a,
	.footer__nav p {
		color: var(--gray);
	}
	@media (hover: hover) {
		.footer__list a:hover {
			color: var(--darkgray);
		}
	}
}
